In [1]:
import json

In [2]:
ls

Chosen_queries.ipynb                   old_submissions/
Georgetown_query_V5.json               selected_isi_aggregate.json
Read_Questions.ipynb                   uncharted_aggregate_questions_V5.json
isi_aggregate.json

### similar to Read_questions nb

In [4]:
posted_file = '../post_aggregate_V2.json'
pf_file = '../post_point_fact_V3.json'
isi_file = 'isi_aggregate.json'
uncharted_file = 'uncharted_aggregate_questions_V5.json'
georgetown_file = 'Georgetown_query_V5.json'

In [5]:
posted = []
f = open(posted_file, 'r')
for line in f:
    temp = json.loads(line)
    posted.append(temp)
f.close()

pf = []
f = open(pf_file, 'r')
for line in f:
    temp = json.loads(line)
    pf.append(temp)
f.close()

f = open(isi_file, 'r')
isi = eval(f.read())
f.close()

print "uncharted"
f = open(uncharted_file, 'r')
uncharted = eval(f.read())
f.close()

print "GT"
georgetown = []
f = open(georgetown_file, 'r')
for line in f:
    entry = json.loads(line)
    georgetown.append(entry)
f.close()

uncharted
GT

#chosen queries for ISI
chosen = []

In [40]:
i = 9
chosen = [0,1,2,4,5]

for query in isi[i]['SPARQL']:
    print query
    print " "

print isi[i]['question']

PREFIX qpr: <http://istresearch.com/qpr>
SELECT (count(?ad)) AS ?count) ?name
WHERE
{	?ad a qpr:Ad ;
	qpr:service 'massage' ;
	qpr:location 'Los Angeles, CA' ;
	qpr:ad ?ad .
}
GROUP BY ?name
ORDER BY DESC(?count)
LIMIT 1

What is the most common name of escorts who offer massages in Orange County

#chosen queries for Georgetown
chosen = []

In [31]:
i = 9

chosen = [0,1,3,4,8]

for entry in georgetown[i]['SPARQL']:
    print entry
    print " "
    
print georgetown[i]['type']

print georgetown[i]['question']

PREFIX qpr: <http://istresearch.com/qpr>
SELECT (AVG(?height) AS ?avg_height)
WHERE
{	?ad a qpr:Ad ;
	qpr:phone '2098184104' ;
	qpr:height ?height .
}

PREFIX qpr: <http://istresearch.com/qpr>
SELECT ?height ?ad
WHERE
{	?ad a qpr:Ad ;
	qpr:phone '2098184104' ;
	qpr:height ?height .
}

AVG
Please find and list all of the ads connected via a shared phone number, email, or street address to the phone number 209-818-4104 that include a height in the ad text. In the answer field note the height for each ad. If there are multiple answers separate them with a comma. The connection between ads can be multiple steps removed as long as there is a connection back to the original attribute via one of the listed attributes. For example, an ad could be considered connected if it contains an email that appeared in a different ad with a street address, which in yet another ad that street address appeared with the phone number 209-818-4104. Return the average height as the first element in the payload list.

#chosen queries for Uncharted 
chosen = []

In [20]:
chosen = [1,5,6,8,9]
i = 9

for entry in uncharted[i]['SPARQL']:
    print entry
    print " "
    
print uncharted[i]['type']

print uncharted[i]['question']

PREFIX qpr: <http://istresearch.com/qpr>
SELECT ?ethnicity (count(?ad) AS ?count)
WHERE
{	?ad a qpr:Ad ;
	qpr:post_date '2016-07-15';
	qpr:location 'Houston, TX';
	qpr:ethnicity ?ethnicity
}
GROUP BY ?ethnicity
ORDER BY DESC(?count)
LIMIT 1

PREFIX qpr: <http://istresearch.com/qpr>
SELECT ?ethnicity ?ad
WHERE
{	?ad a qpr:Ad ;
	qpr:post_date '2016-07-15';
	qpr:location 'Houston, TX';
	qpr:ethnicity ?ethnicity
}

MODE
Find the most common ethnicity of escorts associated with ads posted on 2016-07-15 in Houston, TX