In [3]:
import json

### Set Paths

In [17]:
posted_file = '../post_aggregate_V2.json'

isi_file = 'isi_aggregate.json'
uncharted_file = 'uncharted_aggregate_questions.json'

In [19]:
posted = []
f = open(posted_file, 'r')
for line in f:
    temp = json.loads(line)
    posted.append(temp)
f.close()

f = open(isi_file, 'r')
isi = eval(f.read())
f.close()

f = open(uncharted_file, 'r')
uncharted = eval(f.read())
f.close()

In [8]:
isi[0].keys()

['type', 'question', 'id', 'SPARQL']

In [56]:
no_good = [2, 3, 4, 5, 6, 9]

i = 2
for query in isi[i]['SPARQL']:
    print query
    print " "

PREFIX qpr: <http://istresearch.com/qpr>
SELECT (count(?ad)) AS ?count) ?age
WHERE
{	?ad a qpr:Ad ;
	qpr:phone '4039292560' ;
	qpr:location 'Lethbridge ,Canada' ;
	qpr:age ?age ;
	qpr:ad ?ad .
}
GROUP BY ?age
ORDER BY DESC(?count)
LIMIT 1

In [30]:
i =4
for query in uncharted[i]['SPARQL']:
    print query
    print " "

PREFIX qpr: <http://istresearch.com/qpr>
SELECT ?services (count(?ad) AS ?count)
WHERE
{	?ad a qpr:Ad ;
 ;
	qpr:location 'London, UK' ;
	qpr:phone '7467837512';
	qpr:services ?services
} GROUP BY ?services ORDER BY DESC(?count)

PREFIX qpr: <http://istresearch.com/qpr>
SELECT ?services ?ad
WHERE
{	?ad a qpr:Ad ;
 ;
	qpr:location 'London, UK' ;
	qpr:phone '7467837512';
	qpr:services ?services
}

In [22]:
i = 0

for entry in posted[i]['SPARQL']:
    print entry
    print " "

PREFIX qpr: <http://istresearch.com/qpr>
SELECT ?price ((count(?ad)) AS ?count)
WHERE
{	?cluster a qpr:cluster ;
	qpr:seed 'Internationaldiamonds21@yahoo.com' ;
	qpr:price ?price ;
	qpr:ad ?ad .
}
GROUP BY ?price
ORDER BY DESC(?count)
LIMIT 1

PREFIX qpr: <http://istresearch.com/qpr>
SELECT ?price ?ad
WHERE
{	?cluster a qpr:cluster ;
	qpr:seed 'Internationaldiamonds21@yahoo.com' ;
	qpr:price ?price ;
	qpr:ad ?ad .
}

In [36]:
uncharted[0]['question']

'Find and list all phone numbers included in the ads posted in Victoria, BC containing an asian escort'