In [144]:
import json

In [145]:
def select_line(qtype, contains):
    if qtype == 'MODE':
        line = 'SELECT ?{0} ((count(?ad)) AS ?count)'.format(contains)
    if qtype == 'MAX':  
        line = 'SELECT ((MAX(?{0})) AS ?max_{0})'.format(contains)
    if qtype == 'MIN':  
        line = 'SELECT ((MIN(?{0})) AS ?min_{0})'.format(contains)
    if qtype == 'AVG':  
        line = 'SELECT ((AVG(?{0})) AS ?avg_{0})'.format(contains)
    return line + '\n'

### Load Data

In [146]:
dd_structure_file = 'pure_agg_DD_structure_V2.json'
with open(dd_structure_file, 'r') as f:
    structure = eval(f.read())

In [147]:
examples = []
example_file = '../../pure_agg_gt_questions_V3.json'
with open(example_file, 'r') as f:
    for line in f:
        temp = json.loads(line)
        examples.append(temp)

In [148]:
i = 2
print examples[i]['SPARQL'][0]
print ' '
print ' '
print examples[i]['SPARQL'][1]

PREFIX qpr: <http://istresearch.com/qpr>
SELECT ?age ((count(?ad)) AS ?count)
WHERE
{	?ad a qpr:Ad ;
	qpr:phone '6466423890' ;
	qpr:location 'Sayville' ;
	qpr:age ?age .
}
GROUP BY ?age
ORDER BY DESC(?count)
LIMIT 1


PREFIX qpr: <http://istresearch.com/qpr>
SELECT ?age ?ad
WHERE
{	?ad a qpr:Ad ;
	qpr:phone '6466423890' ;
	qpr:location 'Sayville' ;
	qpr:age ?age .
}

In [149]:
# Created questions after first round of seeing SPARQL queries:
nl_questions = []
nl_questions.append("What is the average age found in ads with the phone number 6187098512?")
nl_questions.append("What is the most common email address found in ads with the phone number 6197585452?")
nl_questions.append("What is the most common location found in ads where the provider's age is given as 34?")
nl_questions.append("What is the most common email address found in ads where the provider's age is given as 30?")
nl_questions.append("What is the maximum age found in ads where the price is given as '150,NO DURATION'?")
nl_questions.append("What is the minimum age found in ads where the price is given as '100,NO DURATION'?")
nl_questions.append("What is the most common location found in ads where the provider's name is given as Avery?")
nl_questions.append("What is the minimum age found in ads where the provider's name is given as Vanesa?")
nl_questions.append("What is the most common phone number found in ads with the email address annabelle@denver-escort.com?")
nl_questions.append("What is the average age found in ads with the email address info@bombshellescorts.com?")           
nl_questions.append("What is the maximum price found in ads where the location is St. Louis, Missouri?")
nl_questions.append("What is the average age found in ads where the location is Albany, New York?")
nl_questions.append("What is the most common hair color found in ads where the provider's age is given as 44?")
nl_questions.append("What is the average height found in ads where the provider's name is given as Blair?")
nl_questions.append("What is the maximum weight found in ads where the provider's age is given as 28?")

In [150]:
line1 = 'PREFIX qpr:<http://istresearch.com/qpr>\n'
line3 = 'WHERE\n'
line4 = '{\t?ad a qpr:Ad ;\n'

i = 0
dd_questions = []
for entry in structure:
    temp = {}
    temp['SPARQL'] = []
    temp['question'] = nl_questions[i]
    qtype = entry['type']
    temp['type'] = qtype
    temp['id'] = i+1
    # Get the info
    contains = entry['contains'].split('-')[1]
    filter_feature = entry['filter']['feature'].split('-')[1]
    if 'loc_name' in entry['filter'].keys():
        filter_value = entry['filter']['loc_name']
    else:
        filter_value = entry['filter']['value']
    if '+1' in filter_value:
        filter_value = filter_value.strip('+1')
    if filter_feature == 'rate':
        filter_feature = 'price'
    if contains == 'rate':
        contains = 'price'
    
    
    # Parse first query
    line2 = select_line(qtype, contains)
    line5 = "\tqpr:{0} '{1}' ;\n".format(filter_feature, filter_value)
    line6 = "\tqpr:{0} ?{0} .\n".format(contains)
    line7 = '}'
    line8 = 'GROUP BY ?{0}\n'.format(contains)
    line9 = 'ORDER BY DESC(?count)\n'
    line10 = 'LIMIT 1'
    
    sparql1 = (line1 + line2 + line3 + line4 + line5 + line6
               + line7)
    if qtype == 'MODE':
        sparql1 = sparql1 + '\n' + line8 + line9 + line10
    temp['SPARQL'].append(sparql1)

    # Parse secone query
    line2 = 'SELECT ?{0} ?ad\n'.format(contains)
    sparql2 = (line1 + line2 + line3 + line4 + line5 + line6
               + line7)
    temp['SPARQL'].append(sparql2)
    
    # Add temp to questions
    dd_questions.append(temp)
    i += 1

In [151]:
rm 'pure_agg_dd_questions.json'

In [152]:
dd_pure_agg_file = 'pure_agg_dd_questions.json'
        
with open(dd_pure_agg_file, 'w') as f:
    for question in dd_questions[:-1]:
        temp = json.dumps(question)
        f.write(temp + '\n')
    temp = json.dumps(dd_questions[-1])
    f.write(temp)

In [153]:
i = 0

print dd_questions[i]["question"]
print ' '
print ' '
for entry in dd_questions[i]['SPARQL']:
    print entry
    print ' '
    print ' '

What is the average age found in ads with the phone number 6187098512?


PREFIX qpr:<http://istresearch.com/qpr>
SELECT ((AVG(?age)) AS ?avg_age)
WHERE
{	?ad a qpr:Ad ;
	qpr:phone '6187098512' ;
	qpr:age ?age .
}


PREFIX qpr:<http://istresearch.com/qpr>
SELECT ?age ?ad
WHERE
{	?ad a qpr:Ad ;
	qpr:phone '6187098512' ;
	qpr:age ?age .
}